<h1>New Game</h1>

<ul class="list-group list-group-horizontal">
<% @letters.each do |letter|%>
  <li class="list-group-item list-group-item-primary"><%=letter%></li>
<%end%>
</ul>

<form action="/games/score" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="">What is the longest word you can find ? </label>
  <input type="text" id="word" name="word" required>
  <input type="submit" value="play">
</form>
